<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Panorama</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz"/>
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/style.css"/>

  </head>
  <body>
    <div id="container">
      <div id="main" role="main">
        
      </div>
    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/panorama.js"></script>

  </body>
</html>
