<div class="source-widget server-status-4-widget">
  <div id="source-1" class="status-down source-widget mini-server-status-widget top left">
    <div class="status status-up">&#9650;</div>
    <div class="status status-down">&#9660;</div>
    <footer>Staging</footer>
  </div><div id="source-2" class="status-down source-widget mini-server-status-widget top right">
    <div class="status status-up">&#9650;</div>
    <div class="status status-down">&#9660;</div>
    <footer>Demo</footer>
  </div><div id="source-3" class="status-down source-widget mini-server-status-widget bottom left">
    <div class="status status-up">&#9650;</div>
    <div class="status status-down">&#9660;</div>
    <footer>Unstable</footer>
  </div><div id="source-4" class="status-down source-widget mini-server-status-widget bottom right">
    <div class="status status-up">&#9650;</div>
    <div class="status status-down">&#9660;</div>
    <footer>Jobs</footer>
  </div>
</div>
